.app-container {
  width: 100vw;
  height: calc(100vh - 50px);
  background-color: var(--ui-primary);
  color: var(--ui-secondary);
}

.app-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 16px;
}

.projects__links {
  display: grid;
  justify-items: center;
  position: absolute;
  bottom: 0;
  margin-bottom: 24px;
}

.projects__title {
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: 100;
  text-transform: uppercase;
}

.projects__image {
  cursor: pointer;
  animation: bounce 0.5s infinite alternate;
  fill: var(--ui-secondary);
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}
